.topbar {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
  }
  .btn1{
   margin-right: 30px;
   margin-left: 90%;
  }

.chcard{
  display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 24px 64px #26214a1a;
    width: 700px;
   
    transition: transform 0.3s ease-in-out;
}

.chcard:hover{
  transform: scale(1.1);
}

.chcard {
  animation: translateIn 0.5s ease-out;
}

@keyframes translateIn {
  from {
    transform: translateX(-20%);
  }
  to {
    transform: translateX(0);
  }
}

/* .chbtt{
  margin-left: 120px;
  
  
}

.chbtt1{
  

} */

  .tpb{
    font-size: 30px;
    margin-left: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .cht{
   display:flex;
   justify-content: center;
   align-items: center;
   flex:1;
   gap:10px;
   }

   .overlay-1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .overlay-1.active {
    opacity: 1;
    pointer-events: auto;
  }
  
  .processing-container-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .processing-icon-1 {
    display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  }
  
  .processing-text-1 {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  .overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
  }
  
  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  
  .processing-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  
  .processing-icon {
    display: inline-block;
  width: 60px;
  height: 60px;
  border: 6px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  }
  
  .processing-text {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
 
  